{% extends 'main.html' %} 

{% block content %} 

{% if user.is_authenticated %} 

{% else %}
<div class="relative">
  <div class="hero object-cover bg-base-200">
    <div class="hero-content flex-col lg:flex-row my-24 py-6">
      <img
        src="https://placeimg.com/260/400/arch"
        class="max-w-sm rounded-lg shadow-2xl"
      />
      <div>
        <h1 class="text-5xl font-bold">Witamy w portalu ZTM Lublin!</h1>
        <p class="pt-6 pb-3">
          Tu kupisz bilety okresowe do wszystkich rodzajów komunikacji
          miejskiej- autobus, trolejbus, helikooopter-helikooopter,
          paaarakopter-parakopter.
        </p>
        <p class="pt-3 pb-6">
          Aby móc dokonać zakupu - zaloguj się lub utwórz nowe konto.
        </p>
        <a role="button" href="{% url 'login' %}" class="btn">Zaloguj się</a>
        <a role="button" href="{% url 'registration' %}" class="btn btn-primary">Zarejestruj się</a>
      </div>
    </div>
  </div>
</div>
{% endif %} 
{% endblock content %}
