{% extends 'main.html' %}

{% load widget_tweaks %} 

{% block title %}
<title>Sklep | ZTM Lublin | Portal obsługi klienta</title>
{% endblock %} 

{% block content %}
<!-- SUCCESS PURCHASE ALERT -->

<div class="alert alert-success shadow-lg hidden" id="successAlert">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>Zakup podtwierdzono! Sprawdź bilet w <a class="link link-primary" href="{% url 'profile' %}">profilu</a>.</span>
  </div>
</div>

<!-- END OF SUCCESS PURCHASE ALERT -->

<!-- MODALS FOR TICKETS -->
<!-- Modal for tickets -->
<form method="post">
{% csrf_token %}
{% for ticket in tickets_list %}
<input type="checkbox" id="ticket-{{ticket.id}}" class="modal-toggle" />
<div class="modal">
  <div class="modal-box text-xl">
    <label for="ticket-{{ticket.id}}" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="font-bold text-lg">Potwierdź zakup biletu</h3>
    <p class="py-4">Rodzaj: {{ ticket.type }}</p>
    <p class="py-4">Ilość dni: {{ ticket.days_quantity }}</p>
    <p class="py-4">Ważny do: 09.06.2023</p>
    {% if ticket.get_lines != "Wszystkie linie" %}  
    <p class="py-4">Linia: {% render_field ticket_purchase_form.lines class="input input-bordered input-primary w-full input-md w-1/2 max-w-xs" placeholder="Podaj jedną linię" %}</p>
    {% else %}
      <p class="py-4">Linie: {{ticket.lines}}</p>
    {% endif %} 
    <p class="py-4">Cena: {{ ticket.price }} PLN</p>
    <div class="modal-action">
      <label for="ticket{{ticket.id}}" class="btn btn-active btn-accent" onClick="showSuccessAllert()">Kupuję</label>
    </div>
  </div>
</div>
</form>
{% endfor %}
<!-- End of Modal for tickets -->

<!-- PAGE CONTENT -->
<div class="flex justify-center">
  <div class="overflow-x-auto w-1/2">
    <table class="table w-full text-xl">
      <!-- head -->
      <thead>
        <tr>
          <th>Rodzaj</th>
          <th>Ilość dni</th>
          <th>Linie</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        {% for ticket in tickets_list %}
        <tr>
          <td>{{ ticket.type }}</td>
          <td>{{ ticket.days_quantity }} dni</td>
          <td>{{ ticket.lines }}</td>
          <th>{{ ticket.price }} PLN</th>
          <th>
            <label class="btn btn-active btn-accent" for="ticket-{{ticket.id}}">KUP</label>
          </th>
        </tr>
        {% endfor %}
        <!-- end of row 1 -->
      </tbody>
    </table>
  </div>
</div>

<!-- Scripts -->

<script type="text/javascript">
function showSuccessAllert(){
  console.log("works");
  document.getElementById("successAlert").classList.remove("hidden");
  setTimeout(() => { document.getElementById("successAlert").classList.add("hidden"); }, 5000);
}
</script>

{% endblock %}
