{% extends 'main.html' %} {% block title %}
<title>Sklep | ZTM Lublin | Portal obsługi klienta</title>
{% endblock %} {% block content %}

<!-- SUCCESS PURCHASE ALERT -->

<div class="alert alert-success shadow-lg hidden" id="successAlert">
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span>Zakup podtwierdzono! Sprawdź bilet w <a class="link link-primary" href="{% url 'profile' %}">profilu</a>.</span>
  </div>
</div>

<!-- END OF SUCCESS PURCHASE ALERT -->

<!-- MODALS FOR TICKETS -->
<!-- Modal for ticket 1 -->
<input type="checkbox" id="ticket-0" class="modal-toggle" />
<div class="modal">
  <div class="modal-box text-xl">
    <label for="ticket-0" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="font-bold text-lg">Potwierdź zakup biletu</h3>
    <p class="py-4">Rodzaj: Imienny</p>
    <p class="py-4">Ilość dni: 150 dni</p>
    <p class="py-4">Ważny do: 09.06.2023</p>
    <p class="py-4">Linia: <input type="text" placeholder="Podaj jedną linię" class="input input-bordered input-primary w-full input-md w-1/2 max-w-xs" />
    </p> <!-- если билет на одну линию то тут будет поле для ввода, если на все - надпись "Wszystkie" -->
    <p class="py-4">Cena: 000.00 PLN</p>
    <div class="modal-action">
      <label for="ticket-0" class="btn btn-active btn-accent" onClick="showSuccessAllert()">Kupuję</label>
    </div>
  </div>
</div>
<!-- End of Modal for ticket 1 -->
<!-- Modal for ticket 2 -->
<input type="checkbox" id="ticket-1" class="modal-toggle" />
<div class="modal">
  <div class="modal-box text-xl">
    <label for="ticket-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
    <h3 class="font-bold text-lg">Potwierdź zakup biletu</h3>
    <p class="py-4">Rodzaj: Imienny</p>
    <p class="py-4">Ilość dni: 15 dni</p>
    <p class="py-4">Ważny do: 05.12.2022</p>
    <p class="py-4">Linie: Wszystkie</p>
    <p class="py-4">Cena: 69.42 PLN</p>
    <div class="modal-action">
      <label for="ticket-1" class="btn btn-active btn-accent" onClick="showSuccessAllert()">Kupuję</label>
    </div>
  </div>
</div>
<!-- End of Modal for ticket 2 -->
<!-- END OF ALL MODALS FOR TICKETS -->

<!-- PAGE CONTENT -->
<div class="flex justify-center">
  <div class="overflow-x-auto w-1/2">
    <table class="table w-full text-xl">
      <!-- head -->
      <thead>
        <tr>
          <th>Rodzaj</th>
          <th>Ilość dni</th>
          <th>Linie</th>
          <th>Cena</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>Imienny</td>
          <td>150 dni</td>
          <td>Jedna linia(wskaż w następnym kroku)</td>
          <th>000.00 PLN</th>
          <th>
            <label class="btn btn-active btn-accent" for="ticket-0">KUP</label>
          </th>
        </tr>
        <!-- end of row 1 -->
        <!-- row 2 -->
        <tr>
          <td>Okaziciel</td>
          <td>15 dni</td>
          <td>Wszystkie linie</td>
          <th>69.42 PLN</th>
          <th>
            <label class="btn btn-active btn-accent" for="ticket-1">KUP</label>
          </th>
        </tr>
        <!-- end of row 2 -->
      </tbody>
    </table>
  </div>
</div>

<!-- Scripts -->

<script type="text/javascript">
function showSuccessAllert(){
  console.log("works");
  document.getElementById("successAlert").classList.remove("hidden");
  setTimeout(() => { document.getElementById("successAlert").classList.add("hidden"); }, 5000);
}
</script>

{% endblock %}
